@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: #b57e10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 300px;
    height: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;

}

nav ul li a {
    text-decoration: none;
    color: #b57e10;
}


.nav-button {
    padding: 10px 20px;
    background-color: transparent;
    color: #b57e10;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
}

.nav-button:hover {
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    background: linear-gradient(135deg, #c68e17 0%, #a86b0e 100%);
    /*transform: translateY(-2px);*/
    color: #fff;
    /* Button Depth */
    box-shadow:
        0 4px 15px rgba(0, 0, 0, 0.3),
        inset 0 1px 0 rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
    z-index: 2;

}